//////////////////////////////
// Page Links Molecule

// @import "mixins";
// @import "extends";
//////////////////////////////

@mixin cola-page-links {

  .page-links {
    &--social {
      @include clearfix-me(micro);
      clear: both;
      &--label {
        @extend %font-emphasis;
      }
      .addthis_default_style .addthis_separator,
      .addthis_default_style .at300b,
      .addthis_default_style .at4-icon,
      .addthis_default_style .at300bo,
      .addthis_default_style .at300m,
      .addthis_default_style .at300bs {
        @include inline-block-fix;
        float: none;
        vertical-align: top;
      }
      .at300b {
        span {
          border-style: solid;
          border-width: 1px;
          height: 34px;
          width: 34px;
          &:hover {
           background-position: 0 0;
           border: 1px solid $link-default;
          }
        }
      }
      .addthis_button_facebook {
        span {
          border-color: $facebook-blue;
          background-image: url('../../images/facebook.png');
        }
      }
      .addthis_button_twitter {
        span {
          border-color: $twitter-blue;
          background-image: url('../../images/twitter.png');
        }
      }
      .addthis_button_email {
        span {
          border-color: $mid-grey;
          background-image: url('../../images/email.png');
        }
      }
      .addthis_button_tumblr {
        span {
          border-color: $tumblr-dark-turquoise;
          background-image: url('../../images/tumblr.png');
        }
      }
      .addthis_button_pinterest {
        span {
          border-color: $pinterest-white;
          background-image: url('../../images/pinterest.png');
        }
      }
    }

    &--more {
      @include encircle;
      position: absolute;
      right: -$base-spacing*1.5;
      bottom: -8px;
      @include breakpoint($crotchet, true) {
        right: -$base-spacing*2;
        bottom: -$base-spacing/2;
      }
      .icon--text {
        @include vertical-center;
      }
    }

    &--toggle {
      &.navigation--button {
        position: relative;
      }
      z-index: 11;
      &:before {
        font-size: modular-scale(1);
        margin: 14px auto 0;
      }
      &[aria-expanded="true"]:before {
        margin: 16px auto 2px;
      }
      @include breakpoint($crotchet, true) {
        &:before {
          font-size: modular-scale(1);
          margin-top: 24px;
        }
        &[aria-expanded="true"]:before {
          margin-top: 27px;
        }
      }
    }
  }
  .article--header {
    .navigation--menu--RIGHT {
      padding-left: $base-spacing;
      padding-top: $base-spacing;
      margin-top: $base-spacing;
      z-index: 10;
    }
  }

}
