@mixin padding-page {
  padding-left: $base-spacing/2;
  padding-right: $base-spacing/2;
  @include breakpoint($crotchet, true) {
    padding-left: $base-spacing*2;
    padding-right: $base-spacing*4;
  }
}
@mixin padding-content {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  @include breakpoint($quaver, true) {
    padding-left: $base-spacing*1.5;
    padding-right: $base-spacing*1.5;
  }
}
@mixin padding-content-reversed {
  margin-left: -$base-spacing;
  margin-right: -$base-spacing;
  @include breakpoint($quaver, true) {
    margin-left: -$base-spacing*1.5;
    margin-right: -$base-spacing*1.5;
  }
}
@mixin margin-page {
  margin-left: $base-spacing/2;
  margin-right: $base-spacing/2;
  @include breakpoint($crotchet, true) {
    margin-left: 0 ;
    margin-right: $base-spacing*1.5;
  }
}
@mixin margin-content {
  margin-left: $base-spacing;
  margin-right: $base-spacing;
  @include breakpoint($quaver, true) {
    margin-left: $base-spacing*1.5;
    margin-right: $base-spacing*1.5;
  }
}
